# env template file
# Copy this file to .env and adjust .env for your environment
# Variables will be casted via https://github.com/sloria/environs

SETTINGS_MODE=dev  # possible values: dev, production
DEBUG=false
SECRET_KEY=asdfasdfasdfasdfasdf
ALLOWED_HOSTS=host1.fqdn,host2.fqdn  # only used in production

# Email
EMAIL_HOST=smtp.fqdn.de
EMAIL_PORT=25
EMAIL_SUBJECT_PREFIX="[forms.fqdn.de] "
SERVER_EMAIL='user@fqdn.de'
DEFAULT_FROM_EMAIL='user@fqdn.de'
DJANGO_ADMINS=Blake:blake@cyb.org,Alice:alice@cyb.org

# LDAP
AUTH_LDAP_SERVER_URI="ldaps://fqdn"
AUTH_LDAP_BIND_DN="cn=username,ou=users,dc=fqdn"
AUTH_LDAP_BIND_PASSWORD=secret
AUTH_LDAP_USERS_DN="cn=Users,dc=fqdn"
AUTH_LDAP_MIRROR_GROUPS=ldapgroup1,ldapgroup2

# MISC
WAGTAIL_BASE_URL=http://example.com

# Formpages
WHITELIST_IPS_ATTACHMENT_REQUEST=127.0.0.1,10.1.1.1
CSP_FRAME_ANCESTORS="https://host1,https://host2"
USE_ANTIVIR_SERVICE=false
