# env template file
# Copy this file to .env and adjust .env for your environment
# Variables will be casted via https://github.com/sloria/environs

# Django/Wagtail settings
DEBUG=false
SECRET_KEY=asdfasdfasdfasdfasdf
# ALLOWED_HOSTS setting only used in production
ALLOWED_HOSTS=host1.fqdn,host2.fqdn

# This is the base URL used by the Wagtail admin site. 
# It is typically used for generating URLs to include in notification emails.
# Use only protocol, host and, if applicable, port
WAGTAILADMIN_BASE_URL=http://example.com

# Email
EMAIL_HOST=smtp.fqdn.de
EMAIL_PORT=25
EMAIL_SUBJECT_PREFIX="[forms.fqdn.de] "
SERVER_EMAIL='user@fqdn.de'
DEFAULT_FROM_EMAIL='user@fqdn.de'
DJANGO_ADMINS=Blake:blake@cyb.org,Alice:alice@cyb.org

# LDAP
AUTH_LDAP=false
AUTH_LDAP_SERVER_URI="ldaps://fqdn"
AUTH_LDAP_BIND_DN="cn=username,ou=users,dc=fqdn"
AUTH_LDAP_BIND_PASSWORD=secret
AUTH_LDAP_USERS_DN="cn=Users,dc=fqdn"
AUTH_LDAP_MIRROR_GROUPS=ldapgroup1,ldapgroup2

# Formpages
FORMBUILDER_WHITELIST_IPS_ATTACHMENT_REQUEST=127.0.0.1,10.1.1.1
FORMBUILDER_CSP_FRAME_ANCESTORS="https://host1,https://host2"
FORMBUILDER_USE_ANTIVIR_SERVICE=false
FORMBUILDER_MAX_UPLOAD_MB = 7
FORMBUILDER_ALLOWED_IMAGE_FILE_TYPES = ".jpg", ".jpeg", ".png"
FORMBUILDER_ALLOWED_DOCUMENT_FILE_TYPES = ".pdf", ".txt"