Django==4.1.8
wagtail==4.2.2

# wagtail-localize
django_extensions
django-crispy-forms
crispy-bootstrap4
django-auth-ldap
django-simple-captcha
django-ipware
# django-sendfile2
django-private-storage
django-csp
django-csp-reports
django-select2

# Explict mention of djangorestframework which is already a dependency
# of wagtail but also used for our own, simple API view.
djangorestframework

django-environ
python-magic
whitenoise
huey

# https://xael.org/pages/python-module-pyclamd.html
pyclamd

# Documentation
Sphinx
sphinx-autobuild
myst_parser
linkify-it-py
# django-sphinx-view
furo
