Django==5.2.9
wagtail==7.2.1

# wagtail-localize
django_extensions
django-crispy-forms
crispy-bootstrap5
django-auth-ldap
django-simple-captcha
django-ipware
# django-sendfile2
django-private-storage
django-csp==3.8
# django-csp-reports

# Explict mention of djangorestframework which is already a dependency
# of wagtail but also used for our own, simple API view.
djangorestframework

django-environ
python-magic
whitenoise
huey

# https://xael.org/pages/python-module-pyclamd.html
# Only needed if you want to use the Clamd backend for file scanning.
# See env.template for the necessary settings.
pyclamd

# Documentation
Sphinx
myst_parser
linkify-it-py
furo
roman-numerals-py==3.1
