@import "components/_typo";

// Branding css variables could be set via
// Wagtail admin > Settings > Branding settings.
// :root {
//   --primary_accent_color: rgb(4, 55, 242);
//   --primary_accent_gray: rgb(216, 216, 216);
// }

$waf-primary-accent-color: var(--primary_accent_color);
$waf-bg-gray: var(--primary_accent_gray);



// $theme-colors: (
//   "primary": $waf-primary-accent-color,
// );

$link-decoration: underline;
$web-font-path: "";
// $font-size-base: 0.875rem; // Approx be `14px`

$font-family-sans-serif: "FontSourceRoboto", sans-serif;
$font-family-serif:      "Merriweather", serif;
$font-family-base:       $font-family-sans-serif;

$headings-font-family: $font-family-serif;
$font-weight-base: 300;


// Bootstrap
@import "components/_bootstrap_custom";

// Bootstrap Icons
// https://icons.getbootstrap.com/
@import "components/_bootstrap_icons";

// select2
@import "select2/dist/css/select2.min";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min";

// flatpickr for date and time inputs, as Firefox do not have a widget for time inputs
// https://flatpickr.js.org/getting-started/
@import "flatpickr/dist/flatpickr.min";

// @import "components/debug";
@import "components/_screen";
@import "components/_print";


.btn-custom-primary {
    @extend .btn-primary;
    background-color: var(--primary_accent_color);

    &:hover {
        background-color: var(--primary_accent_color_darken);
    }
}
