{% load i18n static %}


<footer class="text-white small">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="{% get_media_prefix %}{{ brand_figurative_mark }}" alt="">
            </div>
            <div class="col-6 col-md-4 text-md-center">
                {% for footer_link in localized_footer_links %}
                    <a 
                        class="link-light {% if forloop.first %} me-2 {% endif %}" 
                        href="{{ footer_link.get_url }}"
                    >
                        {{ footer_link.title }}
                    </a>
                {% endfor %}
            </div>
            <div class="col-6 col-md-4 text-end text-white">
                {% if show_admin_link %}
                    {% if request.user.is_authenticated %}
                    <a class="me-3 link-light" href="{% url 'wagtailadmin_logout' %}">
                        <i class="bi bi-box-arrow-in-left"></i>
                        Logout
                    </a>
                    {% else %}
                    <a class="me-3 link-light" href="{% url 'wagtailadmin_login' %}">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Login
                    </a>
                    {% endif %}
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a class="me-3 link-light" href="/docs/">
                        <i class="bi bi-life-preserver"></i> Docs
                    </a>
                {% endif %}
                &copy; {% now "Y" %} {{ settings.home.BrandingSettings.brand_abbr }}
            </div>
        </div>
    </div>
</footer>
