h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    color: $waf-green;
    font-weight: 400;
}


.select2.select2-container {
    width: auto !important;
    max-width: 100%;
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-weight: 300;
}


.form-group {
    margin-bottom: 1em;

    & > label {
    font-weight: 400;
    }
}

textarea.form-control {
    height: 5em;
}


header {
    padding-top: 15px;
    margin-bottom: 2em;
    background-color: $waf-bg-gray;

    .languageswitcher {
        text-transform: uppercase;
    }
}

.navbar-header {
    display: block;
    height: 60px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    /*
    Setting the brand logo is handled via a context_processor
    body.lang_en & {
        background-image: url("/static/dist/img/logo_en.svg");
    }
    body.lang_de & {
        background-image: url("/static/dist/img/logo_de.svg");
    }
    */

    strong { display: none; }
}

.navbar-brand {
    text-transform: uppercase;
    text-decoration: none;
    color: $waf-gray;
}

footer {
    margin-top: 2em;
    padding: 2em 0;
    background-color: $waf-green;
    line-height: 4em;

    img {
        height: 4em;
    }
}